<html>
    <h2>Quick Change Table</h2>
    <table border="1">
	    <tr>
		<th>Name</th>
        {% for att in counter.attributes %}
		    <th>{{ att.display_name }} </th>
		{% endfor %}
	    </tr>
        {% for user in counter.all %}
		<tr>
            <td>{{ user }}</td>
            {% for att in counter.attributes %}
                <td>
                    {% if counter.has_done(user, att) %}
                        DONE!
                    {% else %}
                        <a href="/check-off/{{ att.name }}/{{ hash(user) }}">(check)</a>
                    {% endif %}
                </td>
            {% endfor %}
		</tr>
        {% endfor %}
	</table>

    <h2>All Users</h2>
    <ul>
        {% for user in counter.all %}
        <li>
            {{ user }}
            <a href="/remove/{{ hash(user) }}">remove</a></li>
        {% endfor %}
    </ul>

    {% for attribute in counter.attributes %}

        <h2>{{ attribute.display_name }}</h2>

        {{ counter.get_complete(attribute.name)|length}} / {{ counter.all|length }} Hacker Schoolers have {{ attribute.display_name }}

        <a href="/update/{{ attribute.name }}">(push status update to Zulip)</a>
        <ul>
            {% for user in counter.get_complete(attribute.name) %}
            <li>
                {{ user }}
                <a href="/uncheck/{{ attribute.name }}/{{ hash(user) }}">(uncheck)</a>
            </li>
            {% endfor %}
        </ul>
        have not {{ attribute.display_name }}
        <ul>
            {% for user in counter.get_incomplete(attribute.name) %}
            <li>
                {{ user }}
                <a href="/check-off/{{ attribute.name }}/{{ hash(user) }}">(check)</a>
            </li>
            {% endfor %}
        </ul>

    {% endfor %}

    <form name="input" action="/add" method="post">
        Username: <input type="text" name="name">
        <input type="submit" value="add user">
    </form>

</html>
